# Ignorar archivos y carpetas de sistemas operativos
*.log
*.bak
*.swp
*~
.DS_Store
Thumbs.db

# Ignorar imágenes ISO, VDI, OVA, etc.
*.iso
*.vdi
*.ova

# Ignorar directorios de configuración de herramientas locales
.vscode/
.idea/